<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">LendIT</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['']">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/listing']">Listing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="checkAuth()" [routerLink]="['/post/new']"><span><fa-icon [icon]="faPlusCircle" size="lg" class="headerIcon"></fa-icon></span> New Post</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right ml-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/profile']" style="cursor:pointer" *ngIf="checkAuth()"><span><fa-icon [icon]="faUserCircle" size="lg" class="headerIcon"></fa-icon></span> My Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="onLogin()" style="cursor:pointer" *ngIf="!checkAuth()" >Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="onLogout()" style="cursor:pointer"  *ngIf="checkAuth()">Logout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="onSignup()" style="cursor:pointer" *ngIf="!checkAuth()" >Register</a>
      </li>
    </ul>
  </div>
</nav>
