
:host ::ng-deep .navbar {
  background-color: #1F7EF8 !important;
  color: white;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.1);
}

:host ::ng-deep .navbar-nav, .nav-item, .nav-link {
  color: white;
}
