<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container wrap overall">
    <h1 class="well bigBox" style="padding: 1rem;">New Post</h1>
	<div class="col-lg-12 well bigBox" style="padding: 1rem;" >
	<div class="row bigBox">
				<form [formGroup]="newPostForm" (ngSubmit)="onSubmit()">
					<div class="col-sm-12">

            <div class="row">
							<div class="col-sm-6 form-group">
								<label>Image</label>
                <div class="card bg-dark text-white">
                  <input type="file" #filePicker style="display: none;" (change)="onFileSelected($event)" name="image" />
                  <img class="card-img img-responsive" [src]="imageDisplay" alt="Card image" style="cursor:pointer" (click)="filePicker.click()">
                  <!-- <div class="card-img-overlay" *ngIf="imageActive === false" (mouseenter)="onHover($event)">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Add Image to give your audience a better idea of your item</p>
                  </div> -->
                </div>
							</div>
						</div>


						<div class="row">
							<div class="col-sm-6 form-group">
								<label>Item Title</label>
								<input type="text" placeholder="Enter Post Title here.." class="form-control" formControlName="name">
							</div>
						</div>

						<div class="form-group">
							<label>Item Description</label>
							<textarea placeholder="Enter Item Description Here.." rows="3" class="form-control" formControlName="description"></textarea>
						</div>

						<div class="row">
							<div class="col-sm-4 form-group">
								<label>Price</label>
								<input type="number" placeholder="Enter your price" class="form-control" formControlName="price">
							</div>
							<div class="col-sm-4 form-group">
								<label>Per?</label>
                <select id="inputState" class="form-control" formControlName="priceDuration">
                  <option selected>Choose...</option>
                  <option>Hour</option>
                  <option>Day</option>
                  <option>Week</option>
                </select>
							</div>
							<div class="col-sm-4 form-group">
								<label>Zip</label>
								<input type="text" placeholder="Enter Zip Code Here.." class="form-control">
							</div>
						</div>

            <div class="form-group">
              <label style="display: block; margin-bottom: 1rem;">Item Category</label>
              <div class="form-check-inline" *ngFor="let category of tagsArray.controls; let i = index">
                <mat-checkbox (change)="getSelectedTags()" [formControl]="category" id="inlineCheckbox{{i}}">{{categories[i]}}</mat-checkbox>
              </div>
            </div>


            <div class="form-text custom-inline-text">
               <small id="frHelp" *ngIf="tagsError && checkTagsTouched()">Choose at least one category</small>
            </div>
            <br>

            <div class="form-group">
                <label style="margin-bottom: 1rem; cursor:pointer">Location</label>
                <div style="margin-bottom: 1rem;" [ngSwitch]="mapOpen">
                    <button mat-flat-button type="button" *ngSwitchCase="false" (click)="initializeMap()">Show Map</button>
                    <button mat-flat-button type="button" *ngSwitchCase="true" (click)="mapOpen = false">Hide Map</button>
                </div>

                <div *ngIf="mapOpen">
                  <p>Click On the map to move the marker to the desired location to be saved</p>
                  <div id="map"></div>
                </div>
            </div>

            <div class="">
              	<button type="submit" class="btn btn-lg btn-info">Submit</button>
            </div>

					</div>
				</form>
				</div>
	</div>
	</div>
