<div class="container wrapper" *ngIf="selectedPost">

  <!-- <div>
    <h1 class="my-4" style="margin-top: 5rem;">{{selectedPost.name}}</h1>
  </div> -->

  <div class="row" style="padding-top: 4rem;">
    <!-- Image Space Below -->
     <div class="col-md-8 col-s-12 mainBox">
     <h1 class="my-4" style="margin-top: 5rem;">{{selectedPost.name}}</h1>
     <mat-card style="margin-bottom: 2rem; padding-top: 2rem;">
       <img mat-card-image [src]="selectedPost.imagePath"  class="imageSetting" alt="Photo of item">
     </mat-card>

     <mat-card>
        <mat-card-header>
            <mat-card-title id="price"><h3>{{selectedPost.price}} TL</h3></mat-card-title>
            <mat-card-subtitle>/ {{selectedPost.priceDuration}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <h3 class="my-3">Description</h3>
          <p>{{selectedPost.description}}</p>
        </mat-card-content>
     </mat-card>
     </div>


     <!-- Portfolio Item Row -->
     <div class="col-md-4 col-s-12" style="margin-bottom: 2rem; margin-top: 2rem;">
     <h3 class="my-3">Lender's Detail</h3>
       <div>
           <div class="card userCard">
             <div class="profile-userpic">
					       <img [src]="defaultDisplayPic" class="img-responsive justify-content-center" style="margin-left: 25%;" alt="">
            	</div>

             <div class="card-body">
                <h5 class="card-title justify-content-center" >Lender's Detail</h5>
                 <p class="card-text"></p>
             </div>
             <ul class="list-group list-group-flush">
                 <li class="list-group-item"><h5>User Name</h5> {{user.userName}} </li>
                 <li class="list-group-item"><h5>Contact Detail</h5>{{user.contact}} </li>
                 <li class="list-group-item"><h5>User Address</h5> {{user.address}}</li>
                 <li class="list-group-item">Other Detail:  </li>
             </ul>
             <div class="card-body">
                 <a href="#" class="card-link">Card link</a>
                 <a href="#" class="card-link">Another link</a>
             </div>
           </div>
       </div>
     </div>

  </div>





  </div>
