
body {
  margin:0;
  padding:0;
}

.imageSetting {
  margin-left: 2rem;
  width: 40rem;
  height: 20rem;
}

#itemImage {
  padding: 1.5rem;
  width: 40rem;
  height: 20rem;
}

.userCard {
  width: 18rem;
}

.tagDisplay {
  color: grey;
}

/* .map {
  height: 10rem;
} */


.profile-userpic img {
  width: 150px;
  height: 150px;
  align-items: center;
  float: none;
  margin: 0 auto;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

#map {
  height: 20rem;
  width: 40rem;
}


@media only screen and (max-width: 600px) {
  /* For mobile phones: */
  .imageSetting {
    width: 100%;
    height: 95%;
    max-height: 20rem;
    margin: auto;
  }

  #map {
    width: 100%;
    margin: auto;
  }

  .mainBox{
    margin-bottom: 5rem;
  }

  .tagDisplay {
    font-size: 12px;
    margin-left: 2rem;
  }

  .userCard{
    width: 100%;
  }

  .profilePic{
    width: 50%;
    height: 50%;
  }
}

#price {
  color: green;
}
