.imageSetting {
  margin-left: 2rem;
  width: 40rem;
  height: 20rem;
}

#itemImage {
  padding: 1.5rem;
  width: 40rem;
  height: 20rem;
}

.userCard {
  width: 18rem;
}


.profile-userpic img {
  width: 150px;
  height: 150px;
  align-items: center;
  float: none;
  margin: 0 auto;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .imageSetting {
    width: 420px;
    height: 450px;
    margin: auto;
  }

  .mainBox{
    margin-bottom: 5rem;
  }

  .userCard{
    width: 100%;
  }

  .profilePic{
    width: 50%;
    height: 50%;
  }
}

#price {
  color: green;
}

.grid-container {
  display: grid;
  grid-template-columns: 0.3fr 2.6fr 1.5fr 0.4fr;
  grid-template-rows: 0.3fr 1.7fr 0.2fr 1.8fr;
  grid-template-areas: ". . . ." ". Image Card-Details ." ". . . ." ". Item-Details . .";
}

.Image { grid-area: Image; }

.Card-Details { grid-area: Card-Details; }

.Item-Details { grid-area: Item-Details; }

.Title { grid-area: Title; }
