<div class="container content">

<div class="spinner" *ngIf="isLoading"></div>

<app-filter-box></app-filter-box>
<br>

  <div class="row">
    <div class="col-md-4 col-xs-6 col-lg-4 h-100" *ngFor="let post of (posts$ | async); let i = index">

      <div style="margin-right: 1rem; margin-bottom: 2rem; padding: 0px;" id="postCard" >
        <div class="displayImage" [style.background-image] = "'url('+post.imagePath+')'"></div>
        <div class="card card-body flex-fill">
          <p class="card-title">{{post.name}}</p>
          <p class="card-price">
           {{post.price}} TL
         </p>
         <p class="card-text" style="font-weight: lighter; color: gray;">{{post.description}}</p>
         <button type="button" name="button" class="btn actionButton" [routerLink]="['/item/' + post.id]">Borrow This</button>
        </div>
      </div>

    </div>
  </div>

</div>
