.iconBox {
  margin-left: auto;
  margin-top: 1rem;
  text-align: center;
  width: auto;
  transition: transform 0.5s;
  cursor: pointer;
}

.iconsContainer {
  margin-top: 2rem;
  margin-left: 1rem;
  width: auto;
}

.iconBox:hover {
  transform: scale(1.5);
}

#carousel-title {
 margin-bottom: 2.5rem;
 font-size: 4rem;
}

@media only screen and (max-width: 700px) {
  .iconText{
     font-size: 15px;
  }

  .carouselImage, .carouselImage img {
    height: 40rem;
  }
}
