.iconBox {
  margin-top: 1rem;
  width: auto;
  text-align: center;
  transition: transform 0.5s;
  cursor: pointer;
}

.iconBox:hover {
  transform: scale(1.5);
}

.secondPlane {
  background-image: url(/assets/images/cityBackground.png);
  background-repeat: none;
  background-size: contain;
  background-position: bottom center;
  padding-bottom: 2rem;
}

.iconsContainer {
  margin-top: 2rem;
  width: auto;
}

.jumbotron {
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  background-color: white;
}



#carousel-title {
 margin-bottom: 2.5rem;
 font-size: 5rem;
 font-weight: bold;
}

.carouselImage, .carouselImage img {
  height: 40rem;
  shadow: 0 4px 6px 0 black;
}

@media only screen and (max-width: 768px) {
  .iconText{
     font-size: 15px;
  }


  .iconBox {
    margin-left: 0.5rem;
  }


  .carouselImage, .carouselImage img {
    height: 40rem;
  }

  #carousel-title {
     font-size: 4rem;
  }
}
